---
import { cn } from "@utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"h2"> {}

const { class: className, ...rest } = Astro.props;
---

<h2
  class={cn(
    "font-sans font-semibold  md:text-2xl lg:text-4xl text-secondary",
    className,
  )}
  {...rest}
>
  <slot />
</h2>
