---
import { getSortedPosts } from "@utils/getSortedPosts";
import { getCollection } from "astro:content";
import BlogPreview from "./BlogPreview.astro";

const BLOGS = await getCollection("blog");
const sortedPosts = getSortedPosts(BLOGS);
---

<div class="grid gap-4 md:grid-cols-2">
  {
    sortedPosts.map((blog, index) => {
      const spanAll =
        sortedPosts.length % 2 !== 0 && index === sortedPosts.length - 1;
      return <BlogPreview post={blog} spanAll={spanAll} />;
    })
  }
  <slot />
</div>
