---
import Section from "@components/layout/Section.astro";
import BlogContainer from "./BlogContainer.astro";
---

<Section title="Blog" class="items-stretch gap-12 p-container" id={"blog"}>
  <BlogContainer />
</Section>
