<article class="p-6 bg-white flex flex-col gap-6">
  <h1>Soy el titulo del Blog</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus amet ad vero
    est esse? Aliquam necessitatibus maiores est itaque ex aperiam in, adipisci
    nihil aut voluptatibus doloribus inventore quam et!
  </p>
</article>
