---
import GithubIcon from "../icons/GithubIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
---

<footer
  class="grid grid-cols-2 justify-between container mt-24 pb-24 pt-4 text-white"
>
  <ul class="col-span-1 grid">
    <li><h1>Matias Delgado</h1></li>
  </ul>
  <ul class="col-span-1 grid items-center justify-end">
    <li class="mb-4">
      <h3 class="text-2xl uppercase font-semibold">Links rápidos</h3>
    </li>
    <li><a href="#" class="text-lg">Inicio</a></li>
    <li><a href="#" class="text-lg">Sobre mi</a></li>
    <li><a href="#" class="text-lg">Experiencia</a></li>
    <li><a href="#" class="text-lg">Proyectos</a></li>
    <li><a href="#" class="text-lg">Blog</a></li>
    <li class="flex gap-2 mt-4">
      <a href="">
        <InstagramIcon class="w-8 h-8" />
      </a>
      <a href="">
        <GithubIcon class="w-8 h-8" />
      </a>
      <a href=""><MailIcon class="w-8 h-8" /></a>
    </li>
  </ul>
</footer>
