---
import { NAVBAR } from "config";
import GithubIcon from "../icons/GithubIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
---

<footer
  class="container grid pt-4 pb-24 mt-24 text-white sm:justify-between place-content-center sm:grid-cols-2 p-container"
>
  <ul class="grid md:col-span-1">
    <li><h1>Matias Delgado</h1></li>
  </ul>
  <ul class="grid items-center justify-end md:col-span-1">
    <li class="mb-4">
      <h3 class="text-2xl font-semibold uppercase">Links rápidos</h3>
    </li>
    {
      NAVBAR.links.map((link) => {
        return (
          <li>
            <a href={link.href} class="text-lg">
              {link.title}
            </a>
          </li>
        );
      })
    }
    <li class="flex gap-2 mt-4">
      <a href="">
        <InstagramIcon class="w-8 h-8" />
      </a>
      <a href="">
        <GithubIcon class="w-8 h-8" />
      </a>
      <a href=""><MailIcon class="w-8 h-8" /></a>
    </li>
  </ul>
</footer>
