---
export interface Props {
  currentPage: number;
  totalPages: number;
}

const { currentPage, totalPages } = Astro.props;
const previousDisabled = currentPage === 1;
const nextDisabled = currentPage === totalPages;
---

<!-- class:list={[
    {
      hidden: previousDisabled && nextDisabled,
    },
  ]} -->
<div class="text-white md:col-span-2 justify-end flex">
  <a
    href={`/blog/${currentPage - 1}`}
    class:list={[
      {
        hidden: previousDisabled,
      },
    ]}>Anterior</a
  >
  <a
    href={`/blog/${currentPage + 1}`}
    class:list={[
      {
        hidden: nextDisabled,
      },
    ]}>Siguiente</a
  >
</div>
