---
import ChevronUp from "@components/icons/ChevronUp.astro";
import ShareLinks from "./ShareLinks.astro";

const URL = Astro.url;
---

<footer class="flex justify-between container p-container py-8 pb-16">
  <div
    class="flex flex-col md:flex-row md:justify-between md:items-end w-full gap-8 md:gap-0 items-center text-center"
  >
    <div class="flex gap-4">
      <!-- <div class="flex gap-2 justify-center md:justify-start">
        <a href={`https://wa.me/?text=${href}`}
          ><WhatsappIcon class="size-8" /></a
        >
        <a href={`mailto:?subject=Quiero compartirte este post&body=${href}`}
          ><MailIcon class="size-8" /></a
        >
        <a
          href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(href)}`}
          ><TwitterIcon class="size-8" /></a
        >
        <a
          href={`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(href)}`}
          ><FacebookIcon class="size-8" /></a
        >
      </div> -->

      <ShareLinks />
    </div>
    <button class="inline-flex gap-2 items-center">
      <ChevronUp class={"size-8"} />
      <h2 class="text-white text-xl cursor-pointer italic">
        Volver hacia arriba
      </h2>
    </button>
  </div>
</footer>

<script>
  function backToTop() {
    const backToTopButton = document.querySelector("footer button");
    backToTopButton?.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  }

  backToTop();
  document.addEventListener("astro:after-swap", backToTop);
</script>
