---
import FacebookIcon from "@components/icons/FacebookIcon.astro";
import MailIcon from "@components/icons/MailIcon.astro";
import TwitterIcon from "@components/icons/TwitterIcon.astro";
import WhatsappIcon from "@components/icons/WhatsappIcon.astro";

const URL = Astro.url;

const shareLinks = [
  {
    name: "WhatsApp",
    href: "https://wa.me/?text=",
    linkTitle: `Compartir el post en Whatsapp`,
    icon: WhatsappIcon,
  },
  {
    name: "Facebook",
    href: "https://www.facebook.com/sharer.php?u=",
    linkTitle: `Compartir el post en Facebook`,
    icon: FacebookIcon,
  },
  {
    name: "Twitter",
    href: "https://twitter.com/intent/tweet?url=",
    linkTitle: `Compartir el post en Twitter`,
    icon: TwitterIcon,
  },
  {
    name: "Mail",
    href: "mailto:?subject=See%20this%20post&body=",
    linkTitle: `Compartir el post por Email`,
    icon: MailIcon,
  },
] as const;
---

<div class={`social-icons text-white`}>
  <span class="italic text-xl">Comparte el post en:</span>
  <div class="text-center flex gap-2 mt-4 justify-center md:justify-start">
    {
      shareLinks.map((social) => (
        <a
          href={`${social.href + URL}`}
          class="link-button"
          title={social.linkTitle}
        >
          <social.icon class="size-8" />
          <span class="sr-only">{social.linkTitle}</span>
        </a>
      ))
    }
  </div>
</div>
