---
import Paragraph from "@components/text/Paragraph.astro";

export interface Props {
  date: string;
  description: string;
  subTitle: string;
  title: string;
}

const { title, date, subTitle, description } = Astro.props;
---

<div
  class="relative flex flex-col gap-4 p-6 pb-8 rounded-lg shadow-2xl bg-[#dbe0e409]"
>
  <h3 class="text-xl font-bold">{title}</h3>
  <Paragraph class="max-w-full text-start">
    {description}
  </Paragraph>
  <div class="grid gap-1">
    <p class="text-sm">{subTitle}</p>
    <p class="text-sm">{date}</p>
  </div>
</div>
