---
import Section from "@components/layout/Section.astro";
import ExperienceContainer from "./ExperienceContainer.astro";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Trabajo",
    items: [
      {
        title: "Frontend Developer",
        subTitle: "Teclearla",
        description:
          "Mi iniciativa \"Teclearla\" me ha permitido ganar experiencia como desarrollador independiente, creando sitios web personalizados para diversos clientes.",
        date: "2023 - 2024",
      },
    ],
  },
  {
    title: "Educación",
    items: [
      {
        title: "Ingeniería en Sistemas de Información",
        subTitle: "Universidad Tecnológica Nacional – Facultad Regional Villa María",
        description:
          "Actualmente curso el cuarto año de la carrera, con proyección de graduarme en 2026, lo que cumplirá uno de mis objetivos personales más importantes.",
        date: "2021 - Presente",
      },
      {
        title: "Educación Secundaria",
        subTitle: "IPET 49 - Escuela Técnica",
        description:
          "Cursé mis estudios secundarios en el IPET 49 - Escuela Técnica, una institución especializada en educación técnica, única en la zona.",
        date: "2015 - 2020",
      },
    ],
  },
];
---

<Section
  title="Experiencia"
  class="container"
  id="experience"
  description="Mi experiencia laboral y educativa."
>
  <div class="flex flex-col gap-12 mt-8">
    {
      EXPERIENCE.map(({ title, items }) => {
        return (
          <ExperienceContainer title={title} items={items.length}>
            {items.map((item) => {
              return <ExperienceItem {...item} />;
            })}
          </ExperienceContainer>
        );
      })
    }
  </div>
</Section>
