---
import Section from "@components/layout/Section.astro";
---

<Section title="Experiencia">
  <div
    class="grid grid-cols-3 h-[500px] auto-rows-[250px] w-full p-container gap-y-[25%] mt-8"
  >
    <div class="bg-white col-span-1">
      <div
        class="shadow-[rgba(255,_0,_0,_0.4)_15px_0px_15px] w-full h-full z-50"
      >
      </div>
      Mamita
    </div>
    <div class="col-span-1 flex items-stretch justify-around flex-col">
      <div class="flex-1 h-full w-full flex items-center">
        <div class="h-2 bg-red-500 w-full self-center -z-10"></div>
      </div>
      <div class="flex-1 h-full w-full"></div>
    </div>
    <div
      class="col-span-1
        h-full
        flex
        items-center
        justify-end
        flex-col
        relative"
    >
      <div
        class="absolute bg-red-500 h-2 w-[50%] left-0"
        style="top: calc(25% - 4px);"
      >
      </div>
      <div class="w-2 bg-red-500 relative" style="height: calc(75% + 4px);">
      </div>

      <div class="bg-white absolute h-[250px] top-[100%] w-full">
        Hola, soy el contenido
      </div>
    </div>

    <div class="col-span-1 bg-white relative">
      <div class="absolute bg-red-500 w-2 h-[25%] -top-[25%] left-[50%]"></div>
      <div class="absolute bg-red-500 h-2 w-[100%] left-[100%] -top-[25%]">
        <div class="absolute bg-red-500 h-2 w-[50%] -left-[50%]"></div>
      </div>
      <div
        class="absolute bg-red-500 w-full h-2 left-[100%]"
        style="bottom: calc(25% - 8px);"
      >
      </div>
      dios
    </div>
    <div class="col-span-1 flex items-stretch justify-around flex-col"></div>
    <div
      class="col-span-1
        h-full
        flex
        items-center
        justify-end
        flex-col
        relative"
    >
      <div class="absolute bg-red-500 h-2 w-[50%] left-0 top-[75%]"></div>
      <div class="w-2 bg-red-500 relative" style="height: calc(25%);"></div>
      <div class="bg-white absolute h-[250px] top-[100%] w-full">
        Hola, soy el contenido
      </div>
    </div>
  </div>
</Section>
