---
import Title from "@components/text/Title.astro";
import { cn } from "@utils/cn";
import { type HTMLAttributes } from "astro/types";
import Paragraph from "../text/Paragraph.astro";

export interface Props extends HTMLAttributes<"section"> {
  title: string;
  description?: string;
  descriptionClass?: string;
}

const {
  class: className,
  title,
  description,
  descriptionClass,
  ...rest
} = Astro.props;
---

<section
  {...rest}
  class={cn("relative flex flex-col items-center  gap-4 pb-8", className)}
>
  <Title class="text-center">{title}</Title>
  {
    description && (
      <>
        <Paragraph class={cn("opacity-70", descriptionClass)}>
          {description}
        </Paragraph>
      </>
    )
  }
  <slot />
</section>
