---
import Home from "@components/sections/home/Home.astro";
import Footer from "@components/shared/Footer.astro";
import Layout from "@layouts/Layout.astro";
import AboutMe from "@sections/about-me/AboutMe.astro";
import Blog from "@sections/blog/Blog.astro";
import Experience from "@sections/experience/Experience.astro";
import Projects from "@sections/projects/Projects.astro";
---

<Layout title="Matias Delgado">
  <main class="relative grid gap-28">
    <Home />
    <AboutMe />
    <Projects />
    <Experience />
    <Blog />
  </main>
  <Footer />
</Layout>
