---
import AboutMe from "@sections/about-me/AboutMe.astro";
import Experience from "@sections/experience/Experience.astro";
import Footer from "@components/shared/Footer.astro";
import Home from "@sections/home/Home.astro";
import Layout from "@layouts/Layout.astro";
import Navbar from "@ui/Navbar.astro";
import Projects from "@sections/projects/Projects.astro";
import {SITE} from "config";

const layoutProps = {
  title: "Matías Delgado | Desarrollador de Software",
  description:
      "Soy Matías Delgado, estudiante avanzado de Ing. en Sistemas con un fuerte conocimiento en desarrollo Frontend. Aunque mi especialidad está en esta área, también tengo experiencia en tareas y proyectos de Backend.",
  ogImage: "/images/profile-image.webp",
  canonicalUrl: SITE.url,
};
---

<Layout {...layoutProps}>
  <Navbar/>
  <main class="relative grid gap-14">
    <Home/>
    <AboutMe/>
    <Experience/>
    <Projects/>
  </main>
  <Footer/>
</Layout>
