---
import LeftSide from "@components/sections/home/LeftSide.astro";
import RightSide from "@components/sections/home/RightSide.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Matias Delgado">
  <main class="container grid gap-12 text-white lg:grid-cols-2">
    <LeftSide />
    <RightSide />
  </main>
</Layout>
