---
import Section from "@/components/layout/Section.astro";
import Paragraph from "@/components/text/Paragraph.astro";
import { Image } from "astro:assets";
---

<Section
  title="Sobre mi"
  description="Te cuento un poco lo que soy"
  id="about-me"
>
  <article class="grid items-center w-full gap-12 py-12 md:grid-cols-2">
    <figure
      class="relative w-full h-full flex justify-center md:justify-start bg-[#1F054D]/[0.2] py-8 md:py-0 md:bg-inherit md:rounded-3xl"
      style="border-image: linear-gradient(to right, transparent, #9F16D1, black) 3;"
    >
      <Image
        alt="Profile image"
        height={400}
        width={400}
        class="max-w-[280px] max-h-[280px] md:max-w-full md:max-h-full lg:max-w-full lg:max-h-[600px] rounded-lg object-cover p-container w-full border-b-8"
        src="/images/profile-image-rectangle.webp"
        style={{
          borderImage:
            "linear-gradient(to right, transparent, #9F16D1, black) 3",
        }}
      />
      <div
        class="-z-10 absolute w-full h-full bg-[#1F054D]/[0.6] md:-left-[70%] md:-bottom-[10%] hidden md:block rounded-lg"
      >
      </div>
    </figure>

    <div class="flex flex-col items-center gap-8 p-container">
      <Paragraph class={"md:text-xl"}>
        Me llamo Matias Delgado pero con Mati alcanza y sobra. Empecé con
        nociones en la programación allá en plena pandemia. Actualmente, estoy
        <mark
          >cursando el cuarto año de la carrera Ingeniería en Sistemas y
          trabajando como Freelancer.</mark
        >
      </Paragraph>

      <Paragraph class={"md:text-xl"}>
        Mis áreas de intereses son la <mark
          >programación Frontend y Backend, es decir, Fullstack.</mark
        > Es relevante destacar que una parte significativa de mi conocimiento ha
        sido adquirida de forma autodidacta, lo cual ha contribuido al desarrollo
        de habilidades sólidas y versátiles.
      </Paragraph>
    </div>
  </article>
</Section>
