---
import Section from "@components/layout/Section.astro";
import Paragraph from "@components/text/Paragraph.astro";
import {Image} from "astro:assets";
---

<Section
    title="Sobre mi"
    class="container bg-primary-950"
    description="Una breve presentación de quién soy"
    id="about-me"
>
  <article
      class="grid items-center w-full gap-4 py-12 md:gap-12 md:grid-cols-2"
  >
    <figure
        class="relative flex justify-center w-full h-full py-8 md:justify-start md:py-0 md:bg-inherit md:rounded-3xl"
    >
      <Image
          alt="Profile image"
          height={400}
          width={400}
          class="max-w-full mx-6 max-h-[280px] md:max-w-full md:max-h-full lg:max-w-full lg:max-h-[600px] rounded-lg object-cover w-full border-b-8 z-20"
          src="/images/profile-image.webp"
          style={{
            borderImage:
                "linear-gradient(to right, transparent, #9F16D1, black) 3",
          }}
          loading="eager"
      />
      <div
          class="z-10 absolute w-full h-full bg-primarySlate md:-left-[70%] md:-bottom-[10%] hidden md:block rounded-lg"
      >
      </div>
    </figure>

    <div class="flex flex-col items-center gap-8 p-container">
      <Paragraph>
        Me llamo Matías Delgado,
        <mark>estudiante de cuarto año de Ingeniería en Sistemas y desarrollador
          freelance
        </mark>
        . Mi interés profesional abarca tanto el desarrollo Frontend como Backend, formando
        una base Fullstack.

      </Paragraph>

      <Paragraph>
        Desde que comencé en el mundo de la programación durante la pandemia, he cultivado mis
        habilidades de forma
        <mark>autodidacta</mark>
        , lo que ha reforzado mi capacidad de aprendizaje y me ha
        permitido desarrollar habilidades sólidas y versátiles en tecnología.
      </Paragraph>
    </div>
  </article>
</Section>
