---
import Paragraph from "@components/text/Paragraph.astro";
import Subtitle from "@components/text/Subtitle.astro";
import Title from "@components/text/Title.astro";
import PrimaryAnchor from "@components/ui/PrimaryAnchor.astro";
import SocialLinks from "@components/ui/SocialLinks.astro";
---

<section
  class="relative flex flex-col items-center justify-center px-8 py-16 bg-primarySlate"
  id="home"
>
  <!-- Header -->
  <Title class="text-center lg:text-7xl">Matias Delgado</Title>
  <Subtitle class="text-center lg:text-5xl">Frontend Developer</Subtitle>

  <div class="flex flex-col items-center gap-6 mt-6">
    <!-- Paragraph -->
    <Paragraph>
      Programador Frontend. Mi principal interés se centra en la creación de
      páginas web estéticas y funcionales a traves de NextJS.
    </Paragraph>

    <!-- Social Links -->
    <SocialLinks />
    <PrimaryAnchor href="mailto:mmatidelga2@gmail.com">Contacto</PrimaryAnchor>
  </div>
</section>
