---
import Paragraph from "@components/text/Paragraph.astro";
import Subtitle from "@components/text/Subtitle.astro";
import Title from "@components/text/Title.astro";
import CircleImageWithWrap from "@components/ui/CircleImageWithWrap.astro";
import CircleProfileImage from "@components/ui/CircleProfileImage.astro";
import PrimaryAnchor from "@components/ui/PrimaryAnchor.astro";
import SocialLinks from "@components/ui/SocialLinks.astro";
import DownArrowIcon from "@icons/DownArrowIcon.astro";
---

<section
  class="relative flex flex-col items-center justify-center gap-4 pb-8 min-h-screenMinusNavbar p-container"
  id="home"
>
  <div class="absolute bottom-0 pb-1" id="down-arrow">
    <DownArrowIcon />
  </div>

  <CircleImageWithWrap>
    <CircleProfileImage
      class="h-[150px] w-[150px] md:w-[250px] md:h-[250px]"
      height={250}
      width={250}
    />
  </CircleImageWithWrap>

  <!-- Header -->
  <header class="flex flex-col md:gap-2">
    <Subtitle>Hola, soy</Subtitle>
    <Title>Matias Delgado</Title>
  </header>

  <!-- Paragraph -->
  <Paragraph class="md:text-xl">
    Programador Frontend. Mi principal interés se centra en la creación de
    páginas web estéticas y funcionales a traves de NextJS.
  </Paragraph>

  <!-- Social Links -->
  <SocialLinks />

  <div class="mt-8">
    <PrimaryAnchor href="#">Contacto</PrimaryAnchor>
  </div>
</section>
