---
import Paragraph from "@components/text/Paragraph.astro";
import Subtitle from "@components/text/Subtitle.astro";
import Title from "@components/text/Title.astro";
import PrimaryAnchor from "@components/ui/PrimaryAnchor.astro";
import SocialLinks from "@components/ui/SocialLinks.astro";
---

<section
    class="relative flex flex-col items-center justify-center px-8 py-16 bg-primarySlate min-h-screenMinusNavbar sm:min-h-fit"
    id="home"
>
  <!-- Header -->
  <Title class="text-5xl text-center md:text-6xl lg:text-7xl"
  >Matias Delgado</Title
  >
  <Subtitle class="text-center lg:text-5xl">Desarrollador de Software</Subtitle>

  <div class="flex flex-col items-center gap-6 mt-6">
    <div>
      <Paragraph>
        Soy Matías Delgado, un desarrollador con mayor afinidad en el desarrollo Frontend y una
        sólida base en Backend. Como estudiante avanzado de Sistemas, mantengo un <span
          class="selected">enfoque constante en el aprendizaje</span>
        y en la mejora de habilidades técnicas y de diseño.
      </Paragraph>
    </div>

    <!-- Social Links -->
    <SocialLinks/>
    <PrimaryAnchor href="mailto:matiasdelgadodev@gmail.com">Contacto</PrimaryAnchor>
  </div>
</section>
