---
import Section from "@components/layout/Section.astro";
import BlogPreview from "@components/sections/blog/BlogPreview.astro";
import BlogNavbar from "@components/ui/BlogNavbar.astro";
import Layout from "@layouts/Layout.astro";
import { getSortedPosts } from "@utils/getSortedPosts";
import { getCollection } from "astro:content";
import { SITE } from "config";

export interface Props {
  page: string;
}

const layoutProps = {
  title: "Blogs | Matias Delgado",
  description: "Todos los artículos que he publicado",
  ogImage: "/images/profile-image.webp",
  canonicalUrl: SITE.url + "/blogs",
};

const BLOGS = await getCollection("blog");
const sortedPosts = getSortedPosts(BLOGS);
const { page } = Astro.props;
console.log(page);
---

<Layout {...layoutProps}>
  <BlogNavbar />
  <Section
    title="Blogs"
    description="Todos los artículos que he publicado"
    class="container p-container pt-8"
  >
    <div class="pt-8">
      <div class="grid gap-4 md:grid-cols-2">
        {
          sortedPosts.map((blog, index) => {
            const spanAll =
              sortedPosts.length % 2 !== 0 && index === sortedPosts.length - 1;
            return <BlogPreview post={blog} spanAll={spanAll} />;
          })
        }
        <slot />
      </div>
    </div>
  </Section>
</Layout>
