---
import Subtitle from "@/components/text/Subtitle.astro";
import { Image } from "astro:assets";
import Layout from "./Layout.astro";
import { formatDate } from "@/utils/formatDate";
import LeftArrowIcon from "@/components/icons/LeftArrowIcon.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
const { slug } = post;
const { title, publishDate } = post.data;
const formattedDate = formatDate(publishDate);
---

<Layout title={title}>
  <main
    class="container relative flex flex-col text-white pt-12 gap-8 p-container"
  >
    <Image
      transition:name={slug}
      alt="card image"
      class="aspect-video w-full"
      height={600}
      src="https://picsum.photos/id/101/800/600"
      width={800}
    />
    <section class="flex flex-col gap-6">
      <div>
        <button
          class="focus-outline flex hover:opacity-75 gap-2 items-center"
          onclick="history.back()"
        >
          <LeftArrowIcon />
          <span class="text-xl mb-1">Volver</span>
        </button>
      </div>

      <div>
        <time>{formattedDate}</time>
        <Subtitle class={"text-white text-3xl lg:text-4xl font-black"}
          >{title}</Subtitle
        >
      </div>
    </section>

    <div class="text-lg md:text-xl font-junction prose text-pretty">
      <Content />
    </div>
  </main>
</Layout>

<style></style>
