---
import Section from "@components/layout/Section.astro";
import { Image } from "astro:assets";
import ProjectItem from "./ProjectItem.astro";

export interface Project {
  alt: string;
  code?: string;
  description: string;
  image: string;
  mobileImage: string;
  name: string;
  tags: Tag[];
  title: string;
  url?: string;
}

interface Tag {
  name: string;
  class: string;
}

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
  },
  ASTRO: {
    name: "Astro",
    class: "!text-black bg-[#FFFFFF] text-white",
  },
};

const PROJECTS = [
  {
    name: "Abogado Rojo",
    description:
      "Landing page realizada para un abogado, con el fin de promocionar sus servicios y captar potenciales clientes. Con un enfoque en la elegancia, la seriedad y la velocidad de la página.",
    image: "/images/projects/rojo.webp",
    mobileImage: "/images/projects/rojo-mobile.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
    alt: "Imágen de la web de Abogado Rojo",
    title: "Imágen de la web de Abogado Rojo",
    url: "https://www.abogadorojo.com",
  },
  {
    name: "Enfoque libre",
    description:
    "Landing page realizada para una psicoterapeuta. Con un diseño elegante y profesional, prioriza la velocidad de carga y una navegación sencilla, creando un ambiente de confianza y bienestar.",
    image: "/images/projects/enfoque-libre.webp",

    mobileImage: "/images/projects/enfoque-libre-mobile.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
    alt: "Imagen de la web de Tesla Shop",
    title: "Imagen de la web de Tesla Shop",
    url: "https://www.enfoquelibrepsiydh.com/",
  },
  {
    name: "Pomotech",
    description:
      "Aplicación que replica la técnica pomodoro para estudiar, trabajar o cualquier actividad que requiera concentración, podes agregar tareas y asignarles un tiempo de estudio y descanso.",
    image: "/images/projects/pomotech.webp",
    mobileImage: "/images/projects/pomotech-mobile.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    alt: "Imágen de la web de Pomotech",
    title: "Imágen de la web de Pomotech",
    url: "https://pomotech.vercel.app/",
    code: "https://www.github.com/delgadomatias/pomotech",
  },
  {
    name: "Teclearla",
    description:
      "Landing page desarrollada para mi startup de desarrollo web. La página está diseñada para ofrecer una experiencia fluida y atractiva, destacando los servicios y proyectos de la empresa.",
    image: "/images/projects/teclearla.webp",
    mobileImage: "/images/projects/teclearla-mobile.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    alt: "Imágen de la web de Teclearla",
    title: "Imágen de la web de Teclearla",
    url: "https://www.teclearla.com.ar",
    code: "https://www.github.com/delgadomatias/teclearla",
  },

];
---

<Section
  class="container items-stretch w-full md:items-center"
  description="Proyectos que he realizado en el último tiempo."
  descriptionClass="p-container"
  title="Proyectos"
  id={"projects"}
>
  <div class="flex flex-col gap-12 mt-12 md:gap-0">
    {
      PROJECTS.map((project, index) => {
        const isEven = index % 2 === 0;
        return <ProjectItem project={project} isEven={isEven} />;
      })
    }
  </div>
</Section>
