<div id="wrap">
  <slot />
</div>

<style>
  #wrap {
    position: relative;
    @apply p-4 md:p-6;
  }

  #wrap::after {
    content: "";
    border-radius: 999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: conic-gradient(
      from 30deg,
      #6be89b,
      #0076a5 46%,
      transparent 46%
    );
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 3px),
      #fff calc(100% - 3px + 1px)
    );
    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 3px),
      #fff calc(100% - 3px + 1px)
    );
  }
</style>
