---
import { NAVBAR } from "config";
import PrimaryAnchor from "./PrimaryAnchor.astro";
---

<header class="sticky top-0 h-[70px] z-50">
  <nav class="container h-full p-container">
    <ul class="flex items-center justify-between w-full h-full text-white">
      <li class="flex gap-3 text-lg">
        {
          NAVBAR.links.map((link) => {
            return <a href={link.href}>{link.title}</a>;
          })
        }
      </li>
      <li>
        <PrimaryAnchor
          class="px-6 py-3 text-md"
          href="mailto:mmatidelga2@gmail.com">Contacto</PrimaryAnchor
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    animation: changeHeight linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }

  @keyframes changeHeight {
    to {
      height: 80px;
      background: #231232;
    }
  }
</style>
